ENABLE_USER_SCRIPT_SANDBOXING = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) "$(SRCROOT)/../shared/build/xcode-frameworks/$(CONFIGURATION)/$(SDK_NAME)"
KOTLIN_FRAMEWORK_BUILD_TYPE = $(CONFIGURATION)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
OTHER_LDFLAGS = $(inherited) -framework SharedBle
